{% package templates %}

{% templ ContainerTemplate(url string) %}
<html>
	<head>
    	<script type="module">{%! Raw("import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';") %}</script>
	</head>
	<body>
    <nav>
      <a href="/hello" target="_top">{%= "Hello" %}</a>
      <a href="/goodbye" target="_top">{%= "Goodbye" %}</a>
    </nav>
	<turbo-frame id="app-container" src={%= url %}>{%= "Select an app" %}</turbo-frame>
	</body>
</html>
{% endtempl %}

